<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.multikits">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:name=".MultiKitsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MultiKitsMainActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".kotlin.activity.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".java.activity.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.activity.AddressListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".java.activity.AddressListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.activity.AddressDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".java.activity.AddressDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".java.activity.MapDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.activity.MapDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>
</manifest>